.startback {
  background-color: black;
  width: 100%;
}
.start {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -13%;
}

.countdown {
  background-color: black;
  width: 100%;
}

.gamephoto {
  width: 100%;
  background: black;
}

.seikai {
  width: 100%;
}
.fuseikai {
  width: 100%;
}
