.back {
  width: 100%;
  height: 100%;
  background-color: #5383c3;
  position: absolute;
}

.fadeInFromBottom {
  width: 100%;
  height: 100%;

  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.puzzle {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  overflow: hidden;
}

.puzzle1 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle2 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle3 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle4 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle5 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle6 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle7 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle8 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

.puzzle9 {
  width: 91%;
  height: 89%;
  position: absolute;
  bottom: 0.3%;
  right: 4.5%;
  border-radius: 18pt;
  animation-name: zoomOutAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes zoomOutAnime {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

@keyframes fireworks-animation {
  0% {
    transform: translate(-50%, 90vh);
    width: 4px;
    opacity: 1;
  }
  50% {
    width: 4px;
    opacity: 1;
  }
  100% {
    width: 600px;
    opacity: 0;
  }
}

.cFirework,
.cFirework::before,
.cFirework::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1;
  background: radial-gradient(circle, yellow 10px, #000 0) 50% 00%,
    radial-gradient(circle, khaki 10px, #000 0) 00% 50%,
    radial-gradient(circle, white 10px, #000 0) 50% 99%,
    radial-gradient(circle, lime 10px, #000 0) 99% 50%,
    radial-gradient(circle, crimson 10px, #000 0) 80% 90%,
    radial-gradient(circle, red 10px, #000 0) 95% 90%,
    radial-gradient(circle, yellow 10px, #000 0) 10% 60%,
    radial-gradient(circle, khaki 10px, #000 0) 31% 80%,
    radial-gradient(circle, white 10px, #000 0) 80% 10%,
    radial-gradient(circle, lime 10px, #000 0) 90% 23%,
    radial-gradient(circle, crimson 10px, #000 0) 45% 20%,
    radial-gradient(circle, red 10px, #000 0) 13% 24%;
  background-size: 8px 8px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  animation: fireworks-animation 4s 1;
}
.cFirework::before {
  transform: translate(-50%, -50%) rotate(25deg) !important;
}
.cFirework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.cFirework:nth-of-type(2),
.cFirework:nth-of-type(2)::before,
.cFirework:nth-of-type(2)::after {
  top: 30%;
  left: 16%;
  animation-duration: 3.8s;
}
.cFirework:nth-of-type(3),
.cFirework:nth-of-type(3)::before,
.cFirework:nth-of-type(3)::after {
  top: 10%;
  left: 72%;
  animation-duration: 4.2s;
}
.cFirework:nth-of-type(4),
.cFirework:nth-of-type(4)::before,
.cFirework:nth-of-type(4)::after {
  top: 28%;
  left: 32%;
  animation-duration: 3.6s;
}
.cFirework:nth-of-type(5),
.cFirework:nth-of-type(5)::before,
.cFirework:nth-of-type(5)::after {
  top: 32%;
  left: 84%;
  animation-duration: 4.4s;
}
.cFirework:nth-of-type(6),
.cFirework:nth-of-type(6)::before,
.cFirework:nth-of-type(6)::after {
  top: 38%;
  left: 40%;
  animation-duration: 4.1s;
}
.cFirework:nth-of-type(7),
.cFirework:nth-of-type(7)::before,
.cFirework:nth-of-type(7)::after {
  top: 28%;
  left: 64%;
  animation-duration: 3.9s;
}
.cFirework:nth-of-type(8),
.cFirework:nth-of-type(8)::before,
.cFirework:nth-of-type(8)::after {
  top: 30%;
  left: 56%;
  animation-duration: 3.9s;
}
