.container {
  display: flex;
  flex-direction: column;
  position: inherit;
}

.question {
  margin: 0;
  height: 60px;
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
}

.questionBox {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #f9f9f9;
  border: solid 3px #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.questionTitle {
  width: 60px;
}

.questionMessage {
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards > * {
  margin: 5px auto;
}

.questionBox > * {
  margin: 10px;
}

.rowItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.buttonColumn {
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.buttonColumn > * {
  margin-bottom: 20px;
}

.groupMemberButton {
  width: 64px;
}

.confirmation {
  width: 64px;
}

.resetImage {
  width: 64px;
}

.modalContainer {
  position: absolute;
  width: 90vw;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: solid 3px gray;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(90px);
  z-index: 100;
}

.modalBox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalBox > * {
  text-align: center;
}

.modalIcon {
  margin-top: 10px;
}

.modalMessage {
  margin-bottom: 10px;
}

.iconImage {
  width: 64px;
}

.modalCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmationCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 20vw;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.highOrDown {
  width: 20px;
  height: 100%;
  margin-right: 20px;
}

.hdColorBar {
  width: 100%;
  height: 120vw;
}

.hdText {
  padding: 0;
  margin: 0;
}

.modalBody {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modalButton {
  width: 40vw;
  margin: 10px;
}

.groupHeader {
  margin: 10px;
  margin-bottom: 20px;
}

.groupHeadText {
  font-size: x-large;
}

.groupOpponent {
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
}

.groupBody {
  background-color: #fefefe;
  margin: 10px;
  border-radius: 5px;
}

.groupBodyText {
  margin: 20px;
}

.groupMember {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleMember {
  width: 128px;
  margin: 10px;
}

.memberImage {
  width: 128px;
  border-radius: 5px;
}
