// カードの背景色

.red {
  background-color: #e2767c;
}

.blue {
  background-color: #5bb3e7;
}

.green {
  background-color: #a4cb4c;
}

.yellow {
  background-color: #fdd15b;
}

.purple {
  background-color: #b885cd;
}
