.circle1 {
  width: 900px;
  height: 100px;
  background: linear-gradient(-70deg, #cbecfd 75%, #7eb0ca 25%);
  border-radius: 100vh;
  color: #1B1B53;
  font-family: 'ヒラギノ丸ゴ Pro W3', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro';
  font-size: 180%;
  display: flex;
  text-align: left;
  padding-left: 4%;
  align-items: center;
  white-space: nowrap;
}
  
.circle2 {
  width: 900px;
  height: 100px;
  background: linear-gradient(-70deg, #bce3dd 75%, #8ca19e 25%);
  border-radius: 100vh;
  color: #1B1B53;
  font-family: 'ヒラギノ丸ゴ Pro W3', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro';
  font-size: 180%;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding-left: 4%;
  white-space: nowrap;
}

.teams{
  justify-content: flex-end;
  padding-left: 12%;
  white-space: nowrap;
} 