.outerCircle {
  width: 100pt;
  height: 100pt;
  border-radius: 50%;
  background: #a6dbbc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.midCircle {
  width: 87pt;
  height: 87pt;
  border-radius: 50%;
  background: #fffaf0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerCircle {
  width: 76pt;
  height: 76pt;
  border-radius: 50%;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerText {
  color: #1b1b53;
  font-size: 64px;
  font-family: 'ヒラギノ丸ゴ Pro W3', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro';
}
